@media only screen and (min-width:992px){
    /*NAVBAR*/
    .nav-link:hover{
        color:$tertiary-color;
    }
    .icon:hover{
        color:$tertiary-color;
        transform:scale(1.3);
    }
    /*ABOUT-ME*/
    .about-me{
        .social a:hover{
            transform:scale(1.3);
        }
    }
    /*PROJECTS*/
    .projects .pj-icon:hover{
        color:$tertiary-color;
        transform: scale(1.3);
    }
}