@media (hover:none) { 
    /*NAVBAR*/
    .nav-link:hover{
        color:white !important;
    }
    .nav-link:active{
        color:$tertiary-color !important;
    }
    .icon:hover { 
        color:white !important;
        transform: inherit !important; 
    }
    .icon:active{
        color:$tertiary-color !important;
    }
    /*NAVBAR*/

    /*ABOUT-ME*/
    .about-me .social a:hover{
        transform: inherit !important;
    }
    /*ABOUT-ME*/

    /*PORTFOLIO*/
    .card-back img:hover{
        transform: inherit !important;
    }
    /*PORTFOLIO*/

    /*FOOTER*/
    .icon-link img:hover{
        transform: inherit !important;
    }
  }

@media only screen and (max-width:767px){
    /*CONTACT-ME*/
    .form{
        border-radius: 20px;
    }
    .left{
        border-top-left-radius: 20px;
        border-top-right-radius:20px;
    }
    .right{
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
    }
}

@media only screen and (min-width:768px){
    /*CONTACT-ME*/
    .form{
        border-radius:20px;
    }
    .left{
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    .right{
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

}
