@use "./config";

@font-face {
    font-family:'Red-Hat-Display';
    src:url(assets/font/Red-Hat-Display/RedHatDisplay-Regular.ttf);
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 4px;
}
  
*::-webkit-scrollbar-track {
    background: $primary-color;
}
  
*::-webkit-scrollbar-thumb {
    background-color:$secondary-color;
    border-radius: 20px;
    border: 1px solid $primary-color;
}

body{
    background-color: $secondary-color;
    font-family:'Red-Hat-Display',sans-serif;
    color:white;
    .arrow{
        background-color: $tertiary-color;
        color:$primary-color;
        border-radius: 40px;
    }
    .section-line{
        width: 60%;
        height: 5px;
        border-radius: 50%;
        margin: 0 auto;
        background: $primary-color;
    }
}