@import "../modules/config";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body{
    background-color: $secondary_color;
    font-family: "Red Hat Display";
    .left{
        background-color: $tertiary-color;
        color:$primary-color;

        .contact{
            a{
                color:$primary-color;
            }
        }
    }
    .right{
        background-color: $primary-color;
        color:$secondary-color;
    }
    .left-line{
        width: 60%;
        height: 5px;
        border-radius: 50%;
        margin: 0 auto;
        background: $primary-color;
    }
}

@import "./modules/media";
