@font-face {
  font-family: "Red-Hat-Display";
  src: url(/assets/font/Red-Hat-Display/RedHatDisplay-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #343f71;
}

*::-webkit-scrollbar-thumb {
  background-color: #e9d8e4;
  border-radius: 20px;
  border: 1px solid #343f71;
}

body {
  background-color: #e9d8e4;
  font-family: "Red-Hat-Display", sans-serif;
}
body .arrow {
  background-color: #fbc40e;
  color: #343f71;
  border-radius: 40px;
}
body .section-line {
  width: 60%;
  height: 5px;
  border-radius: 50%;
  margin: 0 auto;
  background: #343f71;
}

.navbar {
  background-color: #343f71;
}
.navbar .navbar-brand {
  color: #e9d8e4;
}
.navbar .navbar-toggler {
  color: #e9d8e4;
}
.navbar .nav-link {
  color: #e9d8e4;
}
.navbar .nav-line {
  border-bottom: 1px solid #e9d8e4;
  display: block;
}
.navbar .icon {
  color: #e9d8e4;
}

.home {
  background-color: #343f71;
}
.home .container {
  max-width: 600px;
  color: #e9d8e4;
}

.about-me h1 {
  background-color: #343f71;
  color: #e9d8e4;
  max-width: fit-content;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.about-me .presentation {
  background-color: #343f71;
  color: #e9d8e4;
  border-radius: 20px;
}
.about-me .presentation a {
  color: #fbc40e;
}

.skills h1 {
  background-color: #343f71;
  color: #e9d8e4;
  max-width: fit-content;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.skills .skills-group {
  color: #e9d8e4;
  background-color: #343f71;
  border-radius: 20px;
}
.skills .skills-group h1 {
  color: #e9d8e4;
}
.skills .skills-group .skills-line {
  border-bottom: 1px solid #e9d8e4;
  display: block;
}

.projects {
  background-color: #e9d8e4;
}
.projects h1 {
  background-color: #343f71;
  color: #e9d8e4;
  max-width: fit-content;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.projects .card {
  width: 20rem;
  background-color: #343f71;
  color: #e9d8e4;
}
.projects .card .pj-icon {
  color: #e9d8e4;
}

.contact-me .form {
  max-width: 1000px;
}
.contact-me h1 {
  background-color: #343f71;
  color: #e9d8e4;
  max-width: fit-content;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.contact-me .left {
  background-color: #fbc40e;
}
.contact-me .right {
  padding: 50px 100px;
  background-color: #343f71;
}
.contact-me .form-control:focus {
  background-color: #e9d8e4;
  border: 1px solid #fbc40e;
  box-shadow: none;
}
.contact-me input[type=email]:invalid {
  border: 1px solid red;
  color: red;
  box-shadow: none;
}
.contact-me .right i {
  font-size: 75px;
  left: -27px;
  top: 40%;
  color: #343f71;
}
.contact-me .right button {
  border: none;
  width: 100%;
  background-color: #e9d8e4;
  color: #343f71;
  padding: 15px 0;
  display: inline-block;
  margin-top: 10px;
}
.contact-me .right button:hover {
  background-color: #fbc40e;
  color: #343f71;
}

footer {
  background-color: #343f71;
}
footer p {
  color: #e9d8e4;
}

@media only screen and (max-width: 767px) {
  /*CONTACT-ME*/
  .form {
    border-radius: 20px;
  }
  .left {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .right {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media only screen and (min-width: 768px) {
  /*CONTACT-ME*/
  .form {
    border-radius: 20px;
  }
  .left {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  .right {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
}
@media only screen and (min-width: 992px) {
  /*NAVBAR*/
  .nav-link:hover {
    color: #fbc40e;
  }
  .icon:hover {
    color: #fbc40e;
    transform: scale(1.3);
  }
  /*ABOUT-ME*/
  .about-me .social a:hover {
    transform: scale(1.3);
  }
  /*PROJECTS*/
  .projects .pj-icon:hover {
    color: #fbc40e;
    transform: scale(1.3);
  }
  /*CONTACT-ME*/
  .form-control:hover {
    background-color: #e9d8e4;
  }
}