@media only screen and (max-width: 575px){
    .left{
        border-top-left-radius: 20px;
        border-top-right-radius:20px;
    }
    .right{
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
    }
}

@media only screen and (min-width: 576px){
    .left{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .right{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
