@font-face {
  font-family: "Red-Hat-Display";
  src: url(/assets/font/Red-Hat-Display/RedHatDisplay-Regular.ttf);
}
body {
  background-color: #e9d8e4;
  font-family: "Red-Hat-Display";
}
body .left {
  background-color: #fbc40e;
  color: #343f71;
}
body .left .contact a {
  color: #343f71;
}
body .right {
  background-color: #343f71;
  color: #e9d8e4;
}
body .left-line {
  width: 60%;
  height: 5px;
  border-radius: 50%;
  margin: 0 auto;
  background: #343f71;
}

@media only screen and (max-width: 575px) {
  .left {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .right {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media only screen and (min-width: 576px) {
  .left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}