@use "../config";

footer{
    background-color: $primary-color;
    .icon-link{
        .svg-icon{
            max-width: 35px;
        }
    }
    img:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }
}