@use "../config";

footer{
    background-color: $primary-color;
    .icon-link{
        .insta{
            max-width: 35px;
        }
        .github{
            max-width: 35px;
        }
        .linkedin{
            max-width: 55px;
        }
    }
    img:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }
    p{
        color:$item-color;
    }
}