@use "../config";

.navbar{
    background-color: $primary-color;
    .navbar-brand{
        color:$item-color;
    }
    .navbar-toggler{
        color:$item-color;
    }
    .nav-link{
        color:$item-color;
    }
    .nav-link:hover{
        color:$tertiary-color;
    }
    .nav-line{
        border-bottom:1px solid $secondary-color;
        display: block;
    }
    .icon{
        color:$item-color;
    }
    .icon:hover{
        color:$tertiary-color;
        transform:scale(1.3);
    }
}
